<HTML>
  <head>
  <link rel="stylesheet" type="text/css" href="./static/entry_page.css">
  </head>

  <body>
    <p>Are you ready to start your journey?</p>
    <p>Where will it begin?</p>
    <form action="/action_page.php">
    Crawler start: <br>
    <input type="text" name="crawler_start" value="www.caltech.edu"><br>
    Reality Start: <br>
    <input type="submit" value="Forest">
    <input type="submit" value="Jungle Gym">
    <input type="submit" value="DTLA">
    </form>
  </body>



</HTML>
